<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.VideoRentalConnectionString"
            connectionString="Data Source=HOANG-PC;Initial Catalog=VideoRental;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>