<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VideoRental.Properties.Settings.VideoRentalConnectionString"
            connectionString="Data Source=HOANG-PC;Initial Catalog=VideoRental;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VideoRental.Properties.Settings.VideoRentalConnectionString1"
            connectionString="Data Source=HOANG-PC;Initial Catalog=VideoRental;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VideoRental.Properties.Settings.VideoRentalConnectionString2"
            connectionString="Data Source=HOANG-PC;Initial Catalog=VideoRental;Persist Security Info=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>